.primary-bg {
    background-color: var(--color-background);
}

.white-bg {
    background-color: var(--color-white);
}
.blue-bg{
    background-color: var( --color-primary);
}

.primary-color {
    color: var(--color-text-primary);
}

.secondary-color {
    color: var(--color-text-secondary);
}

.white-color {
    color: var(--color-white);
}

.dark-gray {
    color: var(--color-dark-gray);
}