.sidebar {
    width: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
}

.sidebar .logo{
    width: 100px;
    margin-top: 50px;
}

.sidebar .items{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}