.parent-course-card-container{
    width: 15%;
    height: 25vh;
    border: 1px solid black;
    border-radius: 5%;
    margin-block: 5%;
    margin-left: 3%;
}
.parent-course-card-header{
    width: 100%;
    height: 60%;
    border-radius: 5%;
}
.parent-course-card-name{
    padding-left: 5%;
    padding-top: 5%;
}
.back-1{
    background-color: var(--color-primary);
}
.back-2{
    background-color: var(--text-primary);
}
.back-3{
    background-color: var(--text-secondary);
}
.back-4{
    background-color: var(--color-secondary);
}