.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-background);
}

.auth-form {
  background-color: var(--color-white);
  border: 1px solid var(--color-text-secondary);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-top: 16px;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.auth-form button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth-form button:hover {
  background-color: var(--color-primary-dark);
}

.auth-form input::placeholder {
  color: #999;
}
