.modal{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.8);
}
.input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}
.input-container{
    width: 90%;
    justify-content: flex-start;
    align-items: flex-start;
}
.checkbox{
    justify-content: flex-start;
    gap: 5px;
    width: 65%;
}
.create-button{
    width: 100px;
    height: 40px;

}