.back-1{
    background-color: var(--color-primary);
}
.back-2{
    background-color: var(--text-primary);
}
.back-3{
    background-color: var(--text-secondary);
}
.back-4{
    background-color: var(--color-secondary);
}